<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <h1>The Comic Edit Page</h1>
    <form action="/comics/<%=comics.id%>?_method=PUT" method="POST">
      <br/>
      <input type="text" name="name" value="<%=comics.name%>" placeholder="Name"><br/>
      <textarea type="text" name="description" value="<%=comics.description%>" placeholder="Description"></textarea><br/>
      <input type="text" name="img" placeholder="image href" value="<%=comics.img %>"<br/>
      <input type="text" name="price" value="<%=comics.price%>" placeholder="Price"><br/>
      <input type="text" name="quantity" value="<%=comics.qty%>" placeholder="Quantity"><br/>
      <br/>
      <input type="submit" value="update">

</form>

  </body>
</html>
