<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <nav>
      <% include ../partials/header %>
    </nav>
    <div id="container">

      <div class="showcomic">
        <h3><%=comics.name%></h3>
        <img src="<%=comics.img%>" alt="">
        <p><%=comics.description%></p>
        <h4>$ <%=comics.price%></h4>
        <h4>qty: <%=comics.qty%></h4>

        <button class="buy-button">Buy Now</button>

      </div>
      <div class="change-buttons">
        <a href="/comics/<%=comics.id%>/edit"><button type="button" name="button" class="edit-button">Edit</button></a>
        <form action="/comics/<%=comics.id%>?_method=DELETE" method="post">
          <input type="submit" value="Delete"/>
        </form>
      </div>
    </div>
    <nav>
      <% include ../partials/footer %>
    </nav>
  </body>
</html>
